
$(document).ready ->

	$('#_search_results_data').focus ->
		$(@).val ""
	$('#searchStations form').submit (e) ->
		e.preventDefault()
		url = $(@).attr 'action'
		searchParams = $('#_search_results_data').val()
		
			
		$.ajax
			url: url
			data: { data: searchParams }	
			type: 'get'
			dataType: 'json'
			timeout: 10000
			success: (json) ->
				populateResults(json)
			error: (error) ->
				alert JSON.stringify error


populateResults = (stations) ->
	$('#results').empty()
	$(stations).each ->
		$('#results').append """<a href="/station_info?data=#{@.StationCode}">#{@.StationDesc}</a><hr> """