<h1><strong>All trains currentyly running</strong></h1>
<p id = "click_info">Click any train below to see it on a map</p>

<section id = "station_list">
  <%= will_paginate @stations %>

  <% for station in @stations %>
    <%= link_to station[:desc], train_info_path(:data => station[:code]) %><br>
  <% end %>

  <%= will_paginate @stations %>
</section><!--station_list!-->