<div id="myLocationsMap">

</div>

<div id="myLocation">
  <h2>Stations within 30 miles</h2>
  <% @sortedStationsByDistance.each do |station| %>
    <%= link_to station[:stationName],station_info_path(station[:code]) %><hr>
  <% end %>
</div>
