<div class="page-header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<h2 class="navbar-left">Nearby Stations</h2>
		<%= content_tag :h2, class: "navbar-right" do %>
			<%= link_to 'All Trains', all_trains_path %>
		<% end %>
	</nav>
</div>

<div id="myLocationsMap" class="col-md-4">

</div>

<div id="myLocation">
  
</div>
