<section id ="searchStations">
	<%= form_for search_results_path, :url => search_results_path, :method => 'get', remote: true do |f| %>
		<p>
			<%= f.text_field :data, :value => "E.G. du" %>
			
		</p>
		<%= f.submit "Search" %>
	<% end %> 
</section>

<section id="results"></section>