#allPage{
  height:100%;
  width:100%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.alert{
  margin: 2% 0 0 20%;
  width: 25%;
  position: absolute;
  z-index:1;
}

.all_stations{
    background-color: #A4FFA4!important;
}

.station_info{
  background-color: #A4FFA4 !important
}

#station_list{
  margin-left: 5%;
}

#map{
  margin-top: 1%;
  margin-left: 1%;
  width: 800px; 
  height: 400px;
}

.black{
	color:#40080a;
}

.blue{
	color: blue;
}

#stationContainer{
	text-align:center;
}

#stationTrains{
  padding-top:2%;
}

#all_trains_link{
  padding-right:1%;
}

#headerName{
  padding-left: 27%;
}

#searchHeader{
  margin-left: 40%;
}

.searchForm{
  margin-bottom: 1%;
}

#results a{
  margin-left: 3%;
}

input{
  display: inline;
}

#myLocationsMap{
  width:50%;
  height:80%;
  margin-bottom: 2%;
  float: left;
 
}

#myLocation{
  width: 35%;
  overflow: auto;
  margin-left: 1%;
  float: left;
}

#googleMarker{
  padding:1%;
  max-width: 100px;
  height:60px;
  float:left;
}

#noTrainImg{
  margin-left: 10%;
}

#searchForm{
 display:inline;
}

#coordsLink{
  width: 100px;
}

.dropdown-menu{
  width:400px;
}

.alert {
  margin-left: 45%;
  .alert-success{
    color: blue;
  }
  .alert-error{
    color:red;
  }
}