@import "bootstrap";
body { padding-top: 40px; }

.all_stations{
    background-color: #A4FFA4!important;
}

.station_info{
  background-color: #A4FFA4 !important
}

#station_list{
  margin-left: 5%;
}

#map{
  margin-top: 1%;
  margin-left: 2%;
  width: 800px; 
  height: 400px;
}

.red{
	color:#FFFF00;
}

.blue{
	color: blue;
}

#stationContainer{
	text-align:center;
}


