@import "bootstrap";
body { padding-top: 0px;
  padding-left:10px;
 }

.alert{
  margin-top: 5%;
  width: 25%;
}

.all_stations{
    background-color: #A4FFA4!important;
}

.station_info{
  background-color: #A4FFA4 !important
}

#station_list{
  margin-left: 5%;
}

#map{
  margin-top: 1%;
  margin-left: 1%;
  width: 800px; 
  height: 400px;
}

.black{
	color:#40080a;
}

.blue{
	color: blue;
}

#stationContainer{
	text-align:center;
}

#stationTrains{
  padding-top:2%;
}

#all_trains_link{
  padding-right:1%;
}

#headerName{
  padding-left: 27%;
}